<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :year_published %>
  <div class="form-group">
    <label for="amazon-rating">Amazon Rating</label>
    <select type="number" id="amazon-rating" name="online_reviews[amazon_rating]" class="form-control" value="<%= @book.online_review&.amazon_rating %>">
      <option value="" disabled>Select a Rating</option>
      <% [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5].each do |rating| %>
        <% if @book.online_review&.amazon_rating == rating %>
          <option value="<%= rating %>" selected="selected"><%= rating %></option>
        <% else %>
          <option value="<%= rating %>"><%= rating %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="number-of-amazon-ratings">Number of Amazon Ratings</label>
    <input type="number" id="number-of-amazon-ratings" name="online_reviews[number_of_amazon_ratings]" class="form-control" value="<%= @book.online_review&.number_of_amazon_ratings %>">
  </div>
  <%= f.input :description %>
  <%= f.input :fiction %>
  <div class="form-group select book_authors">
    <select class="form-control select optional" multiple="multiple" name="book[authors][]" id="book_authors">
      <% @authors.each do |author| %>
        <% if @book.authors.include?(author) %>
          <option value="<%= author.id %>" selected="selected"><%= author.first_name %> <%= author.last_name %></option>
        <% else %>
          <option value="<%= author.id %>"><%= author.first_name %> <%= author.last_name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div id="new-authors">
  </div>
  <div id="add-author" class="btn btn-success mb-3">Add new Author</div>
  <div class="form-group select book_categories">
    <select class="form-control select optional" multiple="multiple" name="book[categories][]" id="book_categories">
      <% @categories.each do |category| %>
        <% if @book.categories.include?(category) %>
          <option value="<%= category.id %>" selected="selected"><%= category.name %></option>
        <% else %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div id="new-categories" class="form-row">
  </div>
  <div id="add-category" class="btn btn-success mb-3">Add new Category</div>
  <%= f.input :cover_photo, as: :file %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
