<!-- <form action="/books" method="post">
  <input name="authenticity_token" value="<%#= form_authenticity_token %>" type="hidden">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="book[title]">
  </div>
  <div class="form-group">
    <label for="existing-authors">Authors</label>
    <select multiple class="form-control" id="existing-authors" name="book[authors]">
      <%# @authors.each do |author| %>
        <option value="<%#= author.id %>"><%#= author.first_name %> <%#= author.last_name %></option>
      <%# end %>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <input type="submit" class="btn btn-primary">
</form> -->

<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :year_published %>
  <%= f.input :description %>
  <%= f.input :fiction %>
  <div class="form-group select book_authors">
    <select class="form-control select optional" multiple="multiple" name="book[authors][]" id="book_authors">
      <% @authors.each do |author| %>
        <option value="<%= author.id %>"><%= author.first_name %> <%= author.last_name %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group select book_categories">
    <select class="form-control select optional" multiple="multiple" name="book[categories][]" id="book_categories">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>
  <%= f.input :cover_photo, as: :file %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
