<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :year_published %>
  <div class="form-group">
    <label for="amazon-rating">Amazon Rating</label>
    <select type="number" id="amazon-rating" name="online_reviews[amazon_rating]" class="form-control" value="<%= @book.online_review&.amazon_rating %>">
      <option value="" disabled>Select a Rating</option>
      <option value="1">1</option>
      <option value="1.5">1.5</option>
      <option value="2">2</option>
      <option value="2.5">2.5</option>
      <option value="3">3</option>
      <option value="3.5">3.5</option>
      <option value="4">4</option>
      <option value="4.5">4.5</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="number-of-amazon-ratings">Number of Amazon Ratings</label>
    <input type="number" id="number-of-amazon-ratings" name="online_reviews[number_of_amazon_ratings]" class="form-control" value="<%= @book.online_review&.number_of_amazon_ratings %>">
  </div>
  <%= f.input :description %>
  <%= f.input :fiction %>
  <div class="form-group select book_authors">
    <select class="form-control select optional" multiple="multiple" name="book[authors][]" id="book_authors">
      <% @authors.each do |author| %>
        <option value="<%= author.id %>"><%= author.first_name %> <%= author.last_name %></option>
      <% end %>
    </select>
  </div>
  <div id="new-authors">
  </div>
  <div id="add-author" class="btn btn-success mb-3">Add new Author</div>
  <div class="form-group select book_categories">
    <select class="form-control select optional" multiple="multiple" name="book[categories][]" id="book_categories">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>
  <div id="new-categories" class="form-row">
  </div>
  <div id="add-category" class="btn btn-success mb-3">Add new Category</div>
  <%= f.input :cover_photo, as: :file %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
