<div
  class="modal fade book-popup"
  id="book-popup-<%= book.id %>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="book-popup-title-<%= book.id %>"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex flex-column">
          <h4 id="book-popup-title-<%= book.id %>"><%= book.title %><% if book.subtitle %>:<% end %> <%= book.subtitle %></h4>
          <h5><%= print_authors(book) %>, <%= book.year_published %></h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between align-items-center">
          <p class="my-3"><%= book.fiction ? 'Fiction' : 'Non-Fiction' %></p>
          <% if book_in_reading_list(book) %>
            <%= link_to 'Remove from reading list', reading_list_item_path(book), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= form_with url: reading_list_item_path(book), method: :post, local: true, class: 'form-inline' do %>
              <div class="form-group">
                <%= label_tag :priority, 'Priority' %>
                <%= select_tag :priority, options_for_select([['Next', 0], ['Soon', 1], ['Interested', 2]]), class: 'form-control mx-sm-3' %>
              </div>
              <%= submit_tag 'Add to reading list', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>

        <div class="d-flex justify-content-end">
          <% if book_in_reading_list(book) && book_is_read(book) %>
            <%= link_to 'Mark as Unread', mark_as_unread_path(book), method: :post %>
          <% else %>
            <%= link_to 'Mark as Read', mark_as_read_path(book), method: :post %>
          <% end %>
        </div>

        <%= render 'shared/reviews', book: book %>

        <div class="book-tags d-flex">
          <% book.categories.each do |category| %>
            <span class="book-category"><%= category.name %></span>
          <% end %>
        </div>
        <div class="book-description mb-3">
          <%= book.description.html_safe %>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-warning mr-2' %>
        <%= link_to 'Remove', book_path(book), method: :delete, data: { confirm: "Remove #{book.title}?"}, class: 'btn btn-danger mr-2' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
