<h1>Browse Books</h1>

<% @books.each do |book| %>
    <div class="book-card">
      <%= link_to book_path(book), class: 'no-style' do %>
        <h3><%= book.title %> - <%= book.year_published %></h3>
        <h5>By
          <% book.authors.each do |author| %>
            <%= author.first_name %> <%= author.last_name %>
          <% end %>
        </h5>
        <p><%= book.description %></p>
        <p><%= book.fiction ? 'Fiction' : 'Non-Fiction' %></p>
      <% end %>
    </div>
<% end %>
