<h1>Browse Books</h1>

<% @books.each do |book| %>
    <div class="book-card">
      <%= link_to book_path(book), class: 'no-style' do %>
        <h3><%= book.title %> - <%= book.year_published %></h3>
        <h4><%= book.subtitle %></h4>
        <h5><%= print_authors(book) %></h5>
        <p><%= book.fiction ? 'Fiction' : 'Non-Fiction' %></p>
      <% end %>
    </div>
<% end %>
